.heading {
  position: relative;
  z-index: 1;
  &--intro {
    font-family: $font-heading;

    .name {
      font-size: 40px;
      margin-bottom: 30px;

      @include respond(laptop) {
        font-size: 35px;
      }

      @include respond(tab-port) {
        font-size: 30px;
      }

      @include respond(mobile-lg) {
        font-size: 28px;
        margin-bottom: 20px;
      }

      #me-anim {
        color: $color-primary-light;
        @include respond(mobile-lg) {
          display: block;
        }
      }
    }
    .title {
      font-size: 115px;
      line-height: 1;
      margin-bottom: 40px;
      position: relative;
      height: 230px;

      @include respond(laptop) {
        font-size: 100px;
        height: 180px;
      }
      @include respond(tab-land) {
        font-size: 85px;
        height: 160px;
      }

      @include respond(tab-port) {
        font-size: 70px;
        height: 150px;
      }
      @include respond(mobile-lg) {
        font-size: 66px;
        height: auto;
      }

      @include respond(mobile-m) {
        font-size: 62px;
      }

      @include respond(mobile-s) {
        font-size: 50px;
      }
    }

    .title-job {
      display: none;
      opacity: 0;

      & span {
        position: relative;
        display: block;
        height: inherit;
      }
    }
  }

  &--primary {
    &__title {
      font-family: $font-heading;
      font-size: 42px;

      @include respond(laptop) {
        font-size: 35px;
      }

      @include respond(tab-land) {
        font-size: 30px;
      }

      @include respond(mobile-lg) {
        font-size: 25px;
      }
    }
    &__overline {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 200;
      color: $color-secondary-lighter;
      margin-bottom: 13px;
      text-transform: uppercase;
      font-family: $font-regular;
      letter-spacing: 1px;
      position: relative;

      @include respond(laptop) {
        font-size: 15px;
        margin-bottom: 11px;
      }

      @include respond(tab-land) {
        font-size: 13px;
        margin-bottom: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        display: inline-block;
        height: 1px;
        width: 20px;
        letter-spacing: 1px;
        background-color: $color-secondary-lighter;
        margin-right: 5px;
      }
    }

    &__centered {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    &__centered &__overline::before {
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);
    }
  }

  &--secondary {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 28px;

    @include respond(laptop-s) {
      font-size: 25px;
    }
  }

  &--footer {
    font-family: $font-heading;
    font-size: 34px;
    line-height: 1.6;

    @include respond(laptop) {
      font-size: 32px;
    }

    @include respond(laptop-s) {
      font-size: 30px;
    }

    @include respond(mobile-lg) {
      font-size: 25px;
    }
  }
}

.paragraph {
  position: relative;
  z-index: 1;
  &--primary {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 19px;
    color: $color-secondary-light;
    line-height: 1.6;
    & div {
      display: inline;
    }
    @include respond(laptop) {
      font-size: 18px;
    }

    @include respond(tab-land) {
      font-size: 17px;
    }
  }
}

#intro-anim {
  line-height: 1.6;
  div {
    overflow: hidden;
    font-size: 19px;

    & span {
      display: block;
      position: relative;
      top: 25px;
    }
  }
}
