.btn {
  &--primary {
    position: relative;
    display: block;
    width: 28rem;
    height: 5rem;
    padding: 1.2rem 6rem;
    border-radius: 100px;
    color: #fff;
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    box-shadow: 0 20px 30px rgba(#c609ff, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease;
    overflow: hidden;
    @include transition;

    @include respond(tab-port) {
      width: 25rem;
      height: 4.5rem;
      font-size: 1.7rem;
      padding: 1.2rem 4rem;
    }

    @include respond(mobile-l) {
      width: 22rem;
      height: 4.5rem;
      font-size: 1.6rem;
      padding: 1.2rem 3rem;
    }
    @include respond(mobile-s) {
      width: 20rem;
      height: 4rem;
      font-size: 1.4rem;
      padding: 1.2rem 2.5rem;
    }

    span {
      position: relative;
      z-index: 2;
    }
    &:hover {
      top: -2px;
      box-shadow: 0 5px 10px rgba(#c609ff, 0.5);
      &::after {
        left: -50%;
      }
    }

    &:focus {
      top: 1px;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 200%;
      content: "";
      background: #c609ff;
      background-image: linear-gradient(to right, #46005b, #c609ff 80%);
      z-index: 1;
      @include transition;
    }
  }

  &--secondary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    text-decoration: none;
    @include transition;
    &:hover {
      background-color: var(--secondary-color-dark);
    }
  }
}
