@mixin transition() {
  transition: all ease 300ms;
}

@mixin box-shadow() {
  box-shadow: 0 10px 20px rgba(#000, 0.05);
}

@mixin ui-icon-float(
  $image,
  $height,
  $width,
  $top: -1,
  $left: -1,
  $bottom: -1,
  $right: -1
) {
  position: absolute;
  content: "";
  background-image: url($image);
  background-size: $height $width;
  background-repeat: no-repeat;
  display: block;
  height: $height;
  width: $width;
  z-index: 0;

  @if $left != -1 {
    left: $left;
  }
  @if $top != -1 {
    top: $top;
  }

  @if $bottom != -1 {
    bottom: $bottom;
  }

  @if $right != -1 {
    right: $right;
  }
}

@mixin color-generate($color, $value) {
  .#{$color} {
    background: $value !important;
    &--text {
      color: $value !important;
    }

    .lighten {
      background: lighten($value, 25%) !important;
    }

    &--text .lighten {
      color: lighten($value, 25%) !important;
    }
  }
}

/* Code Sample */
@mixin element-position($gaps) {
  $y-position: "top", "bottom";
  $x-position: "left", "center", "right";

  @each $ypost in $y-position {
    @each $xpost in $x-position {
      .#{$ypost}-#{$xpost} {
        #{$ypost}: $gaps;

        @if $xpost == "center" {
          left: 50%;
          transform: translateX(-50%);
        } @else {
          #{$xpost}: $gaps;
        }
      }
    }
  }
}

@mixin respond($screen-size) {
  // 0 - 320px
  @if $screen-size == mobile-s {
    @media (max-width: 20em) {
      @content;
    }
  }
  // 320px - 375px
  @if $screen-size == mobile-m {
    @media (max-width: 23.4375em) {
      @content;
    }
  }
  // 375px - 600px
  @if $screen-size == mobile-lg {
    @media (max-width: 37.5625em) {
      @content;
    }
  }
  // 600px - 768px
  @if $screen-size == tab-port {
    @media (max-width: 48em) {
      @content;
    }
  }
  // 768px - 900px
  @if $screen-size == tab-land {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  // 900px - 1000px
  @if $screen-size == laptop-s {
    @media (max-width: 62.5em) {
      @content;
    }
  }

  // 1000px - 1264px
  @if $screen-size == laptop {
    @media (max-width: 79em) {
      @content;
    }
  }
  // 1264px - 1940px
  @if $screen-size == desktop {
    @media (max-width: 119em) {
      @content;
    }
  }
  // 1940px - upward
  @if $screen-size == big-desktop {
    @media (min-width: 119em) {
      @content;
    }
  }
}

@mixin rounded-container($position) {
  $radius: 130px;

  @include respond(laptop) {
    $radius: 100px;
  }

  @include respond(tab-land) {
    $radius: 80px;
  }

  @include respond(mobile-lg) {
    $radius: 50px;
  }

  border-#{$position}-left-radius: $radius;
  border-#{$position}-right-radius: $radius;
}
