$color-primary: #0993e5;
$color-primary-light: #0094ff;
$color-primary-text: #fff;
$color-secondary: #000000;
$color-secondary-light: #444444;
$color-secondary-lighter: #6f6f6f;
$color-secondary-text: #fff;

$base-color-1: #f3f4fb;
$base-color-2: #fff;

$font-heading: "Poppins", sans-serif;
$font-regular: "Open Sans", sans-serif;

$box-shadow-stack: 0 4px 56px rgba(#ededed, 1);

$gradient-background-1: linear-gradient(
  to right,
  rgba(#a5ddff, 1),
  rgba(#a5ddff, 1.9)
);

$footer-background: #151e29;
