.card {
  &--primary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 1.5rem;
    box-shadow: 0 16px 21px rgba(#000, 0.2);
    border-radius: 10px;
    height: 16rem;
    width: 12rem;
    margin-right: 3rem;
    &__title {
      font-size: 1.6rem;
      font-weight: 400;
    }
    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-70%);
      height: 6rem;

      img {
        height: 90%;
      }
    }
  }

  &--projects {
    position: relative;
    top: 0;
    display: block;
    border-radius: 10px;
    width: 90%;
    overflow: hidden;
    @include box-shadow;
    @include transition;
    text-align: center;
    padding-top: 1rem;
    &__image {
      width: 100%;
    }

    &__logo {
      height: 5rem;
      img {
        height: 100%;
      }
    }
    &:hover {
      top: -1rem;
      .card--projects__description {
        opacity: 1;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      @include transition;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 3rem;
      cursor: pointer;
    }
  }

  &--testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    color: var(--primary-color);
    &__icon {
      height: 7rem;
      width: 7rem;
      overflow: hidden;
      border-radius: 100%;
      img {
        width: 100%;
      }
    }

    &__statement {
      display: block;
      font-size: 35px;
      width: 80%;
    }

    &__client {
      &::before {
        display: block;
        content: "";
        position: relative;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 140%;
        border-radius: 4px;
        background-color: #9c9c9c;
        margin-top: 2rem;
      }
      margin-top: 2rem;
      font-size: 18px;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.bg-shareitinerary {
  background-color: #e6a100;
  color: var(--secondary-color);
  .card--projects__description {
    background-color: rgba(#e6a100, 0.98);
  }
}

.bg-luzontsc {
  background-color: #2a4763;
  color: var(--secondary-color);
  .card--projects__description {
    background-color: rgba(#2a4763, 0.98);
  }
}

.bg-brocode {
  background-color: #0e0e0e;
  color: var(--secondary-color);
  .card--projects__description {
    background-color: rgba(#0e0e0e, 0.98);
  }
}

.bg-js {
  background-image: linear-gradient(to top right, #fff, #ffef5e);
}
.bg-react {
  background-image: linear-gradient(to top right, #fff, #cceff8);
}

.bg-html {
  background-image: linear-gradient(to top right, #fff, #f19982);
}
.bg-css {
  background-image: linear-gradient(to top right, #fff, #cceff8);
}
.bg-nodejs {
  background-image: linear-gradient(to top right, #fff, #c2feaa);
}
.bg-bootstrap {
  background-image: linear-gradient(to top right, #fff, #c8abf2);
}
.bg-tailwind {
  background-image: linear-gradient(to top right, #fff, #a3f1fe);
}
.bg-sass {
  background-image: linear-gradient(to top right, #fff, #d7b1bd);
}
.bg-java {
  background-image: linear-gradient(to top right, #fff, #f6cea8);
}
.bg-cpp {
  background-image: linear-gradient(to top right, #fff, #6fbafe);
}
.bg-mongodb {
  background-image: linear-gradient(to top right, #fff, #a6e283);
}
.bg-adobexd {
  background-image: linear-gradient(to top right, #fff, #f76fc7);
}
.bg-vscode {
  background-image: linear-gradient(to top right, #fff, #78bae2);
}
