.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  &__brand {
    display: block;
    margin-bottom: 4rem;
    img {
      height: 10rem;
      width: auto;
      user-select: none;

      @include respond(tab-port) {
        height: 8rem;
      }
    }
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }

  &__qoutes {
    font-size: 1.8rem;
    width: 40%;
    margin: 0 auto;
    color: #b9b9b9;

    @include respond(tab-port) {
      font-size: 1.6rem;
      width: 80%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    li {
      opacity: 0.8;
      @include transition;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    img {
      height: 4rem;

      @include respond(tab-port) {
        height: 3.4rem;
      }
      @include respond(mobile-l) {
        height: 3rem;
      }
    }
  }
  &__goodbye {
    font-weight: 400;
    margin-top: 10rem;
    font-size: 1.8rem;
    text-align: center;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(mobile-l) {
      font-size: 1.5rem;
    }
  }

  &__copyright {
    font-size: 1.8rem;

    @include respond(tab-port) {
      font-size: 1.6rem;
    }
    @include respond(mobile-l) {
      font-size: 1.5rem;
    }
  }

  &__overlay {
    position: absolute;
    right: -20%;
    top: 50%;
    height: 100%;
    width: auto;
    opacity: 0.03;
    z-index: 0;
    pointer-events: none;
    transform: translateY(-50%);
    user-select: none;
    @include respond(mobile-l) {
      display: none;
    }
  }
}
