header {
  width: 100%;
  height: 100vh;
}

.header {
  &__main {
    display: flex;
    height: 100%;
  }
  @include respond(tab-land) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 65%;

    @include respond(tab-land) {
      width: 90%;
    }
    @include respond(mobile-l) {
      width: 100%;
    }
  }

  &__image {
    height: 100vh;
    width: 35%;

    @include respond(laptop) {
      position: relative;
      bottom: -3rem;
      height: 90vh;
    }

    @include respond(tab-land) {
      display: none;
    }

    img {
      position: relative;
      bottom: -3rem;
      height: 100%;
    }
  }
}
