.section {
  &--intro {
    position: relative;
    background-color: var(--primary-color);
    padding: 10rem 0;
    margin-top: -10rem;
    z-index: 100;
    padding-bottom: 18rem;
    clip-path: polygon(0 0, 100% 12rem, 100% 100%, 0 75%);
    color: var(--secondary-color);

    @include respond(laptop) {
      clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 80%);
    }
    @include respond(tab-port) {
      clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 80%);
      padding: 9rem 2rem;
    }
    @include respond(mobile-l) {
      clip-path: polygon(0 0, 100% 8rem, 100% 100%, 0 85%);
    }
    @include respond(mobile-m) {
      padding: 9rem 1rem;
    }
    p {
      width: 70%;
      color: var(--secondary-color-dark);
      font-weight: 300;

      @include respond(laptop) {
        font-size: 1.7rem;
        width: 100%;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
      }
    }
  }

  &--skills {
    padding-top: 3rem;
    padding-bottom: 5rem;

    @include respond(tab-port) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    p {
      color: var(--primary-color-light);
    }
  }

  &--projects {
    &__header {
      clip-path: polygon(0 0, 100% 12rem, 100% 100%, 0 100%);
      overflow: hidden;
      background-image: linear-gradient(to right, #8c00b5 50%, #46005b);
      color: var(--secondary-color);
      padding: 15rem 0 12rem 0;

      & > * {
        p {
          text-align: center;
          font-weight: 300;
          width: 60%;
          margin: 0 auto;

          @include respond(laptop) {
            width: 80%;
          }

          @include respond(mobile-l) {
            width: 100%;
          }
        }
      }
    }

    &__content {
      margin-top: -6rem;
      padding-bottom: 5rem;
    }
  }

  &--testimonial {
    padding: 7rem 0 12rem 0;
    background-color: var(--secondary-color-dark);
    position: relative;

    @include respond(mobile-l) {
      padding: 7rem 0 8rem 0;
    }
    & .heading__centered {
      &::after {
        content: none;
      }
    }

    .paragraph--primary {
      text-align: center;
      font-weight: 300;
      width: 60%;
      margin: 0 auto;

      @include respond(mobile-l) {
        width: 80%;
      }
    }

    &::after,
    &::before {
      position: absolute;
      background-image: url("https://image.flaticon.com/icons/svg/98/98868.svg");
      background-size: 150px auto;
      display: inline-block;
      width: 150px;
      height: 150px;
      opacity: 0.3;
      z-index: 50;
      content: "";

      @include respond(tab-port) {
        background-size: 120px auto;
        width: 120px;
        height: 120px;
      }

      @include respond(mobile-l) {
        background-size: 80px auto;
        width: 80px;
        height: 80px;
      }
    }

    &::before {
      top: -7rem;
      left: 10%;

      @include respond(mobile-l) {
        top: -2rem;
      }

      @include respond(tab-port) {
        top: -4rem;
      }
    }

    &::after {
      bottom: -7rem;
      right: 10%;
      transform: rotate(180deg);
      @include respond(mobile-l) {
        top: -3rem;
      }
      @include respond(tab-port) {
        bottom: -4rem;
      }
    }
  }
}
