.btn {
  font: inherit;
  cursor: pointer;
  position: relative;

  &--primary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 80px;
    background-color: $color-primary;
    color: $color-primary-text;
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 5px;

    @include respond(laptop) {
      font-size: 16px;
      padding: 10px 70px;
    }

    @include respond(laptop-s) {
      font-size: 15px;
    }

    @include respond(tab-port) {
      font-size: 14px;
      padding: 10px 65px;
    }

    @include respond(mobile-lg) {
      font-size: 12px;
      padding: 8px 65px;
    }
  }

  &--secondary {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid $color-secondary-light;
    padding: 8px 25px 8px 5px;
    color: $color-secondary-light;
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    @include transition;
    &:hover {
      background-color: rgba($color-primary, 0.06);
      border-bottom-color: $color-primary;
      color: $color-primary;
    }

    @include respond(laptop) {
      padding: 6px 22px 6px 4px;
    }

    @include respond(tab-port) {
      padding: 6px 20px 6px 4px;
    }

    &__icon {
      display: block;
      margin-right: 12px;
      font-size: 26px;

      @include respond(laptop) {
        font-size: 24px;
      }

      @include respond(tab-port) {
        font-size: 22px;
      }

      @include respond(mobile-lg) {
        font-size: 18px;
        margin-right: 8px;
      }

      @include respond(mobile-m) {
        font-size: 15px;
      }
    }

    &__label {
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include respond(tab-port) {
        font-size: 14px;
      }

      @include respond(mobile-lg) {
        font-size: 13px;
      }

      @include respond(mobile-m) {
        font-size: 11px;
        letter-spacing: 0;
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 100%;
    background-color: $input-background;
    color: $button-icon-color;
    font-size: 35px;
    @include transition;

    @include respond(laptop-s) {
      height: 65px;
      width: 65px;
      min-width: 65px;
    }

    @include respond(mobile-m) {
      height: 55px;
      width: 55px;
      min-width: 55px;
      font-size: 32px;
    }

    &:hover {
      background-color: darken($input-background, 3%);
      svg {
        fill: rgba($color-primary, 0.8);
      }
    }
  }

  &__loading {
    height: 20px;
    margin-right: 10px;
  }
}
.btn-icon-active {
  border: 1pt solid rgba($color-primary, 0.8);
  color: $color-primary;
}

.rounded {
  border-radius: 100px;
}

.shadow {
  box-shadow: 0 12px 30px rgba(#000, 0.2);
}

.block {
  width: 100%;
}

.dense {
  padding: 12px 80px !important;
}
