.btn {
  font: inherit;
  cursor: pointer;
  position: relative;

  &--primary {
    position: relative;
    display: block;
    padding: 14px 80px;
    background-color: $color-primary;
    color: $color-primary-text;
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 5px;

    @include respond(laptop) {
      font-size: 16px;
      padding: 10px 70px;
    }

    @include respond(laptop-s) {
      font-size: 15px;
    }

    @include respond(tab-port) {
      font-size: 14px;
      padding: 10px 65px;
    }
  }

  &--secondary {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-secondary-light;
    padding: 8px 25px 8px 5px;
    color: $color-secondary-light;
    &__icon {
      display: block;
      margin-right: 12px;
      height: 26px;
      width: 26px;
    }

    &__label {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 100%;
    background-color: $input-background;
    color: $button-icon-color;
    @include transition;
    font-size: 35px;

    @include respond(laptop-s) {
      height: 65px;
      width: 65px;
      min-width: 65px;
    }

    &:hover {
      background-color: darken($input-background, 3%);
      svg {
        fill: rgba($color-primary, 0.8);
      }
    }
  }
}

.rounded {
  border-radius: 100px;
}

.shadow {
  box-shadow: 0 12px 30px rgba(#000, 0.2);
}

.block {
  width: 100%;
}

.dense {
  padding: 12px 80px !important;
}
