.card {
  &--stack {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 158px;
    box-shadow: $box-shadow-stack;
    background-color: $base-color-2;
    border-radius: 8px;
    user-select: none;
    @include transition;

    @include respond(tab-port) {
      width: 105px;
      height: 148px;
    }

    @include respond(mobile-lg) {
      width: 100px;
      height: 138px;
    }

    @include respond(mobile-m) {
      width: 90px;
      height: 133px;
    }

    @include respond(mobile-s) {
      width: 80px;
      height: 120px;
    }

    &-blank {
      filter: blur(4px);
    }

    &__icon,
    &__icon-blank {
      display: block;
      height: 68px;
      margin-bottom: 15px;

      @include respond(tab-port) {
        height: 60px;
      }

      @include respond(mobile-lg) {
        height: 55px;
        margin-bottom: 12px;
      }

      @include respond(mobile-s) {
        height: 45px;
      }
    }

    &__icon-blank {
      width: 68px;
      border-radius: 100%;
      background-color: $base-color-1;
    }

    &__title {
      font-weight: 600;
      font-size: 14px;

      @include respond(mobile-lg) {
        font-size: 10px;
      }

      color: rgba($color-secondary, 0.5);
    }

    &__title-blank {
      height: 14px;
      width: 60px;
      border-radius: 10px;
      background-color: $base-color-1;
    }
  }

  &--project {
    position: relative;
    display: flex;
    height: 580px;
    width: 485px;
    background-color: $base-color-1;
    box-shadow: 0 4px 50px rgba(#000, 0.18);
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;

    @include respond(laptop) {
      height: 540px;
      width: 400px;
    }

    @include respond(laptop-s) {
      height: 500px;
      width: 370px;
    }

    @include respond(tab-land) {
      height: 420px;
      width: 310px;
    }

    @include respond(mobile-m) {
      height: 410px;
      width: 300px;
    }

    @include respond(mobile-s) {
      height: 390px;
      width: 270px;
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @include respond(mobile-lg) {
        margin-bottom: 30px;
      }
    }

    &__head {
      padding: 30px 25px;
    }

    &__logo {
      height: 50px;

      @include respond(laptop) {
        height: 44px;
      }

      @include respond(tab-land) {
        height: 39px;
      }
    }

    &__img {
      position: absolute;
      bottom: -14%;
      right: -7%;
      width: 112%;
      transform: rotate(-13deg);
    }

    &__images {
      display: flex;
      position: absolute;
      width: 100%;
      bottom: -10%;
      right: 0;
      transform: rotate(-10deg) scale(1.1);

      img {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        user-select: none;
      }
    }

    &__images-column {
      padding: 0 10px;
    }
  }

  &--testimony {
    display: flex;
    &__image {
      $box-size: 270px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: $box-shadow-image;
      position: relative;
      top: -40px;
      left: 0;
      z-index: 1;
      img {
        height: 100%;
        width: 100%;
      }

      @include respond(laptop) {
        $box-size: 250px;
        height: $box-size;
        width: $box-size;
        min-width: $box-size;
      }

      @include respond(laptop-s) {
        $box-size: 240px;
        height: $box-size;
        width: $box-size;
        min-width: $box-size;
      }

      @include respond(tab-land) {
        $box-size: 200px;
        height: $box-size;
        width: $box-size;
        min-width: $box-size;
        top: 0;
      }

      @include respond(tab-port) {
        $box-size: 180px;
        height: $box-size;
        width: $box-size;
        min-width: $box-size;
      }

      @include respond(mobile-lg) {
        display: none;
      }
    }

    &__main {
      margin-left: 50px;

      @include respond(laptop-s) {
        margin-left: 40px;
      }
      @include respond(tab-land) {
        margin-left: 35px;
      }

      @include respond(mobile-lg) {
        margin-left: 0;
      }
    }

    &__stated {
      position: relative;
      font-size: 34px;
      line-height: 1.35;
      left: 0;
      font-style: italic;
      font-family: $font-regular;
      font-weight: 400;

      @include respond(laptop) {
        font-size: 30px;
      }

      @include respond(laptop-s) {
        font-size: 26px;
      }

      @include respond(tab-land) {
        font-size: 25px;
      }

      @include respond(tab-port) {
        font-size: 22px;
      }

      @include respond(mobile-lg) {
        text-align: center;
      }

      @include respond(mobile-m) {
        font-size: 20px;
      }
    }

    &__told {
      display: flex;
      position: relative;
      font-family: $font-heading;
      margin-top: 40px;
      text-transform: uppercase;
      align-items: center;
      top: 0;

      @include respond(tab-land) {
        margin-top: 30px;
      }
      @include respond(tab-port) {
        font-size: 25px;
      }

      @include respond(mobile-lg) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      img {
        display: none;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-bottom: 20px;
        @include respond(mobile-lg) {
          display: block;
        }
      }
    }

    &__told-name {
      font-weight: 700;
      font-size: 34px;

      @include respond(laptop) {
        font-size: 32px;
      }
      @include respond(laptop-s) {
        font-size: 28px;
      }

      @include respond(tab-land) {
        font-size: 25px;
      }

      @include respond(tab-port) {
        font-size: 22px;
      }
    }

    &__told-position {
      color: $color-secondary-lighter;
      font-size: 21px;
      letter-spacing: 1px;
      margin-top: 4px;
      font-weight: 500;

      @include respond(laptop) {
        font-size: 19px;
      }

      @include respond(laptop-s) {
        font-size: 18px;
      }

      @include respond(tab-land) {
        font-size: 15px;
      }

      @include respond(tab-port) {
        font-size: 13px;
      }
    }
  }
}
