.footer {
  padding: 80px 0;
  &--main {
    position: relative;
    background-color: $footer-background;
    color: $footer-text-color;

    @include respond(mobile-lg) {
      padding-bottom: 200px;
    }

    z-index: 0;
    &::after {
      @include ui-icon-float(
        "~@/assets/img/ui_ellipse_red_gradient.svg",
        380px,
        380px,
        -8%,
        -1,
        -1,
        -5%
      );

      @include respond(mobile-lg) {
        display: none;
      }
    }

    .container {
      position: relative;
      &::before {
        animation: rotate 10s infinite;
        transform: rotate(0);
        @include ui-icon-float(
          "~@/assets/img/ui_ellipse_blue_gradient.svg",
          420px,
          420px,
          0,
          -30%
        );
        opacity: 0.7;

        @include respond(mobile-lg) {
          background-size: 300px;
          height: 300px;
          width: 300px;
        }

        @include respond(mobile-m) {
          background-size: 250px;
          height: 250px;
          width: 250px;
          top: -5%;
        }
      }
    }

    &__group {
      display: flex;
      margin-top: 120px;
      position: relative;
      z-index: 1;

      @include respond(tab-land) {
        flex-direction: column;
      }

      @include respond(mobile-lg) {
        margin-top: 100px;
      }

      & > *:not(:last-child) {
        margin-right: 80px;

        @include respond(laptop-s) {
          margin-right: 60px;
        }

        @include respond(tab-land) {
          margin-right: 0;
          margin-bottom: 70px;
        }
      }
    }

    &__intro {
      width: 70%;

      @include respond(mobile-lg) {
        width: 90%;
      }

      @include respond(mobile-m) {
        width: 100%;
      }
    }
  }
}
