.list {
  &--testimony {
    margin-top: 90px;

    @include respond(laptop-s) {
      margin-top: 80px;
    }

    @include respond(tab-land) {
      margin-top: 60px;
    }

    @include respond(tab-port) {
      margin-top: 50px;
    }
  }

  &--stack {
    position: relative;
    display: flex;
    width: 110%;
    left: -5%;
    justify-content: space-between;
    margin-top: 40px;

    @include respond(laptop) {
      width: 100%;
      left: 0;
    }

    @include respond(mobile-lg) {
      margin-top: 50px;
    }

    &__row {
      display: flex;
      flex-direction: column;
      position: relative;

      & > *:not(:last-child) {
        margin-bottom: 40px;

        @include respond(tab-land) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &--project {
    .col {
      display: flex;
      flex-direction: column;
    }

    &__last {
      align-items: flex-end;
      margin-top: -25%;

      @include respond(mobile-lg) {
        margin-top: 30px;
        align-items: flex-start;
      }
    }

    &__first {
      align-items: flex-start;
    }
  }

  &--footer {
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;

      @include respond(mobile-lg) {
        flex-wrap: nowrap;
      }
    }

    li {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
      margin-right: 30px;

      @include respond(laptop-s) {
        margin-right: 25px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $font-heading;
      color: $footer-text-color;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      background: $color-yellow;
      border-radius: 100%;
      height: 50px;
      width: 50px;
      min-width: 50px;
      background: rgba($color-yellow, 0.08);
      color: $color-yellow;
      font-size: 22px;
      @include transition;

      @include respond(laptop-s) {
        font-size: 20px;
        height: 48px;
        width: 48px;
        min-width: 48px;
      }

      @include respond(mobile-lg) {
        font-size: 18px;
        height: 45px;
        width: 45px;
        min-width: 45px;
      }

      @include respond(mobile-m) {
        font-size: 16px;
        height: 42px;
        width: 42px;
        min-width: 42px;
      }
    }

    &__label {
      font-size: 16px;
      color: #bdbdbd;
      font-weight: 300;
      letter-spacing: 1px;
      @include transition;

      @include respond(laptop-s) {
        font-size: 15px;
      }

      @include respond(mobile-m) {
        font-size: 14px;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
      letter-spacing: 1px;
      color: $footer-title-color;
      font-family: $font-regular;
      opacity: 0;
      @include respond(mobile-lg) {
        font-size: 16px;
      }
    }

    li:hover &__label {
      color: #fff;
    }

    li:hover &__icon {
      background: rgba($color-yellow, 1);
      color: $footer-background;
    }
  }
}

.stack-offset-anim {
  top: -258px;

  @include respond(tab-land) {
    top: -308px;
  }
}
.stack-anim {
  top: 200px;

  @include respond(tab-land) {
    top: 220px;
  }
}
