.section {
  padding: 50px 0;

  $testimony-offset: -41px;

  &--intro {
    padding-bottom: 80px;
    background-color: $base-color-2;

    @include respond(laptop) {
      padding-bottom: 60px;
    }

    .paragraph--primary {
      width: 80%;

      @include respond(mobile-lg) {
        width: 100%;
      }
    }
  }

  &--stacks {
    background-color: $base-color-1;
    @include rounded-container("top");
    height: 900px;
    overflow: hidden;
    padding: 80px 0;

    & .heading--primary {
      position: relative;
      z-index: 1;
    }

    @include respond(laptop) {
      height: 870px;
    }

    @include respond(tab-land) {
      height: 950px;
    }

    @include respond(tab-port) {
      height: 1150px;
      padding: 80px 0;
    }

    @include respond(mobile-lg) {
      height: 1250px;
    }

    @include respond(mobile-m) {
      height: 1200px;
    }

    @include respond(mobile-s) {
      height: 1080px;
    }
  }

  &--projects {
    position: relative;
    overflow: hidden;

    &::after,
    &::before {
      position: absolute;
      content: "";
      display: block;
      background-image: url($ui-square-grey);
      background-size: 750px;
      height: 750px;
      width: 750px;
      z-index: 0;
      opacity: 0.6;

      @include respond(mobile-lg) {
        background-size: 150px;
        height: 150px;
        width: 150px;
      }
    }

    &::before {
      right: -7%;
      top: -15%;
      transform: rotate(-45deg);
    }

    &::after {
      left: -7%;
      bottom: -15%;
      transform: rotate(-45deg);
    }
  }

  &--testimony {
    background-image: $gradient-background-1;
    padding: 160px 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-top: $testimony-offset;

    @include respond(tab-land) {
      padding: 120px 0;
    }

    @include respond(laptop-s) {
      padding: 140px 0;
    }

    .container {
      position: relative;
      &::before {
        @include ui-icon-float(
          $ui-dots-grey,
          270px,
          270px,
          -20%,
          0
        );
        opacity: 0.8;

        @include respond(mobile-lg) {
          background-size: 100px;
          height: 100px;
          width: 100px;
          top: -5%;
        }
      }
    }
  }

  &--proposal {
    position: relative;
    z-index: 2;
    padding: 80px 0;

    @include respond(mobile-lg) {
      padding: 60px 0;
    }

    .container {
      position: relative;
      &::before {
        animation: updownblob 10s infinite;
        @include ui-icon-float(
          $ui-float-blobs,
          850px,
          850px,
          -40%,
          -70%
        );

        @include respond(tab-land) {
          background-size: 600px;
          height: 600px;
          width: 600px;
          top: 30% !important;
          left: 40%;
        }

        @include respond(tab-land) {
          display: none;
        }
      }

      &::after {
        @include ui-icon-float(
          $ui-violet-gradient,
          160px,
          160px,
          45%,
          12%
        );

        @include respond(tab-land) {
          top: 20% !important;
          left: 70%;
        }

        @include respond(mobile-lg) {
          display: none;
        }
      }
    }
    &__intro {
      position: relative;
      z-index: 3;
      // width: 85%;

      // @include respond(tab-land) {
      //   width: 60%;
      // }

      // @include respond(mobile-lg) {
      //   width: 85%;
      // }

      // @include respond(mobile-m) {
      //   width: 100%;
      // }
      &::before {
        @include ui-icon-float($ui-dots-grey,
          220px,
          220px,
          -50%,
          -20%
        );
        opacity: 0.8;
        transform: rotate(50deg);

        @include respond(tab-land) {
          background-size: 180px;
          height: 180px;
          width: 180px;
        }
      }
    }

    &__form {
      position: relative;
      z-index: 3;
      width: 95%;
      margin-left: auto;

      @include respond(tab-land) {
        width: 70%;
        margin-top: 30px;
        margin-left: 0;
        .heading--secondary {
          display: none;
        }
      }

      @include respond(tab-port) {
        width: 90%;
      }

      @include respond(mobile-lg) {
        width: 100%;
      }
    }
  }
}
